* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;


}

/* ensemble du bloc page*/
body
{

}


/* header */
/*logo + nav */
.uphead
{
	display: flex;
	width: 100%;
	margin-top: 3vh;
	margin-left: 3vw;
}



.banni
{
	 background-color: #bbd98f;
	 width:100vw;
	 height:10vh;
	 text-align: center;
	vertical-align: middle;
	 margin-top: 3vh;
	 margin-left: 3vw;
}

nav
{
	background-color: #d7c095;
	width: 100vw;
}
h1
{
	font-size: 40px;
	color: #1f2c37;
 vertical-align: center;
 margin-left: 3vw;
 margin-right: 3vw;
}

h2
{
	margin-bottom: 3vw;
	font-size: 30px;
	color: #1f2c37;
}

p
{
	font-size: 20px;
	color: #1f2c37;
}

.Logo
{
	border-radius: 30%;
	height:20vh;
}

/*corps*/

/* alignement image + texte*/

.block1
{
	display: flex;
	margin-top: 3vh;
	width: 100vw;
}

/*mise en cologne du block2 : titre + contenu*/
.block2
{
	flex-direction: column;
	width: 50vw;
}

/*image presentation*/
.pictintroduction
{
	width: 60vw;
	margin-left: 3vw;
	margin-right: 3vw;
}
